[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "~=4.0.1"
isort = "~=5.10.1"
pre-commit = "~=2.17.0"
flake8-docstrings = "~=1.6.0"
pygame = "*"
websockets = "*"
black = "*"
pygame-gui = "*"
nest-asyncio = "*"

[dev-packages]
# Base tools
flake8 = "~=4.0.1"
isort = "~=5.10.1"
pre-commit = "~=2.17.0"
# Flake8 plugins, see https://github.com/python-discord/code-jam-template/tree/main#plugin-list
flake8-docstrings = "~=1.6.0"
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
